html, body { 
    background: url(https://www.paho.org/sites/default/files/styles/flexslider_full/public/2020-10/covid-19-virus-1500x790.jpg?h=4ec59c0d&itok=SJs1_t01) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


.dropdown-content{
    transform: none !important;
 }

.search-button i {
    padding: 0;
    margin: 0;
}

.modal-trigger {
    margin-bottom: 4px;
}

.remove-padding {
    padding: 0;
}

.list-group-item {
    width: 100%;
    margin-bottom: 5px;
}


.card-content {
    padding-left: 40px;
    padding-right: 40px;
}


#tracker {
    display: flex;
    flex-direction: columns;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    padding: 20px;
    justify-content: space-between;
}


.middle {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 40px;
}

.left {
    padding-right: 15px;
}

.right {
    padding-left: 15px;
}

#us-last-update {
    display: flex;
    flex-direction: columns;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    padding: 20px;
    justify-content: space-between;
    color: rgb(79, 207, 192);
    font-weight: bolder;
    text-shadow: .5px .5px rgb(26, 24, 24)
}
#state-info {
    justify-content: space-between;
    font-weight: bolder;
    text-shadow: .5px .5px rgb(26, 24, 24)
}

.card-title {
    font-weight: bolder;
    text-shadow: 1px 1px rgb(26, 24, 24)
}

.logo {
    font-weight: bolder;
    text-shadow: 3px 3px rgb(145, 8, 8)
}

.lastMod {
    justify-content: right;
    bottom: 20px;
    right: 20px;
}

